# .gitignore
config.json
user_data/
*.pem
*.key
venv/
__pycache__/
.env
.json
*.json
.log
*.log
./bot_trading.log
./backtesting
backtesting/backtest_results.csv
backtesting/backtest_results.png
backtesting/backtest_runner.py
backtesting/config.py
backtesting/data_fetcher.py
backtesting/historical_data/metadata.json
backtesting/historical_data/ADA_USDT/1h.csv
backtesting/historical_data/ADA_USDT/5m.csv
backtesting/historical_data/AVAX_USDT/1h.csv
backtesting/historical_data/AVAX_USDT/5m.csv
backtesting/historical_data/BNB_USDT/1h.csv
backtesting/historical_data/BNB_USDT/5m.csv
backtesting/historical_data/BTC_USDT/1h.csv
backtesting/historical_data/BTC_USDT/5m.csv
backtesting/historical_data/DOGE_USDT/1h.csv
backtesting/historical_data/DOGE_USDT/5m.csv
backtesting/historical_data/ETH_USDT/1h.csv
backtesting/historical_data/ETH_USDT/5m.csv
backtesting/historical_data/LINK_USDT/1h.csv
backtesting/historical_data/LINK_USDT/5m.csv
backtesting/historical_data/LTC_USDT/1h.csv
backtesting/historical_data/LTC_USDT/5m.csv
backtesting/historical_data/SOL_USDT/1h.csv
backtesting/historical_data/SOL_USDT/5m.csv
backtesting/historical_data/TRX_USDT/1h.csv
backtesting/historical_data/TRX_USDT/5m.csv
backtesting/historical_data/XRP_USDT/1h.csv
backtesting/historical_data/XRP_USDT/5m.csv
backtesting/historical_data/ZEC_USDT/1h.csv
backtesting/historical_data/ZEC_USDT/5m.csv
