.env
/home/aji_admin/Bot-Trading-Tes/pandas-ta-development
pandas-ta-development.zip
__pycache__/
*.log
pandas-ta-development/__init__.py
pandas-ta-development/_config.yml
pandas-ta-development/.gitignore
pandas-ta-development/CODE_OF_CONDUCT.md
pandas-ta-development/LICENSE
pandas-ta-development/Makefile
pandas-ta-development/README.md
pandas-ta-development/setup.py
pandas-ta-development/.github/FUNDING.yml
pandas-ta-development/.github/ISSUE_TEMPLATE/bug_report.md
pandas-ta-development/.github/ISSUE_TEMPLATE/feature_request.md
pandas-ta-development/.github/ISSUE_TEMPLATE/indicator-request.md
pandas-ta-development/.github/workflows/test.yml
pandas-ta-development/data/ADX_D.csv
pandas-ta-development/data/sample.csv
pandas-ta-development/data/SPY_D.csv
pandas-ta-development/docs/conf.py
pandas-ta-development/docs/index.rst
pandas-ta-development/docs/make.bat
pandas-ta-development/docs/Makefile
pandas-ta-development/examples/example.ipynb
pandas-ta-development/examples/ni.py
pandas-ta-development/examples/PandasTA_Study_Examples.ipynb
pandas-ta-development/examples/simple_study.json
pandas-ta-development/examples/Speed_Test.ipynb
pandas-ta-development/examples/TA_Analysis.ipynb
pandas-ta-development/examples/VectorBT_Backtest_with_Pandas_TA.ipynb
pandas-ta-development/images/logo.png
pandas-ta-development/images/SPY_ADX.png
pandas-ta-development/images/SPY_ATR.png
pandas-ta-development/images/SPY_Chart.png
pandas-ta-development/images/SPY_CLR.png
pandas-ta-development/images/SPY_EBSW.png
pandas-ta-development/images/SPY_MACD.png
pandas-ta-development/images/SPY_OBV.png
pandas-ta-development/images/SPY_STDEV.png
pandas-ta-development/images/SPY_VOL.png
pandas-ta-development/images/SPY_ZCDL.png
pandas-ta-development/images/ta-logo.svg
pandas-ta-development/pandas_ta/__init__.py
pandas-ta-development/pandas_ta/_typing.py
pandas-ta-development/pandas_ta/core.py
pandas-ta-development/pandas_ta/custom.py
pandas-ta-development/pandas_ta/ma.py
pandas-ta-development/pandas_ta/maps.py
pandas-ta-development/pandas_ta/py.typed
pandas-ta-development/pandas_ta/candles/__init__.py
pandas-ta-development/pandas_ta/candles/cdl_doji.py
pandas-ta-development/pandas_ta/candles/cdl_inside.py
pandas-ta-development/pandas_ta/candles/cdl_pattern.py
pandas-ta-development/pandas_ta/candles/cdl_z.py
pandas-ta-development/pandas_ta/candles/ha.py
pandas-ta-development/pandas_ta/cycles/__init__.py
pandas-ta-development/pandas_ta/cycles/ebsw.py
pandas-ta-development/pandas_ta/cycles/reflex.py
pandas-ta-development/pandas_ta/momentum/__init__.py
pandas-ta-development/pandas_ta/momentum/ao.py
pandas-ta-development/pandas_ta/momentum/apo.py
pandas-ta-development/pandas_ta/momentum/bias.py
pandas-ta-development/pandas_ta/momentum/bop.py
pandas-ta-development/pandas_ta/momentum/brar.py
pandas-ta-development/pandas_ta/momentum/cci.py
pandas-ta-development/pandas_ta/momentum/cfo.py
pandas-ta-development/pandas_ta/momentum/cg.py
pandas-ta-development/pandas_ta/momentum/cmo.py
pandas-ta-development/pandas_ta/momentum/coppock.py
pandas-ta-development/pandas_ta/momentum/crsi.py
pandas-ta-development/pandas_ta/momentum/cti.py
pandas-ta-development/pandas_ta/momentum/dm.py
pandas-ta-development/pandas_ta/momentum/er.py
pandas-ta-development/pandas_ta/momentum/eri.py
pandas-ta-development/pandas_ta/momentum/exhc.py
pandas-ta-development/pandas_ta/momentum/fisher.py
pandas-ta-development/pandas_ta/momentum/inertia.py
pandas-ta-development/pandas_ta/momentum/kdj.py
pandas-ta-development/pandas_ta/momentum/kst.py
pandas-ta-development/pandas_ta/momentum/macd.py
pandas-ta-development/pandas_ta/momentum/mom.py
pandas-ta-development/pandas_ta/momentum/pgo.py
pandas-ta-development/pandas_ta/momentum/ppo.py
pandas-ta-development/pandas_ta/momentum/psl.py
pandas-ta-development/pandas_ta/momentum/qqe.py
pandas-ta-development/pandas_ta/momentum/roc.py
pandas-ta-development/pandas_ta/momentum/rsi.py
pandas-ta-development/pandas_ta/momentum/rsx.py
pandas-ta-development/pandas_ta/momentum/rvgi.py
pandas-ta-development/pandas_ta/momentum/slope.py
pandas-ta-development/pandas_ta/momentum/smc.py
pandas-ta-development/pandas_ta/momentum/smi.py
pandas-ta-development/pandas_ta/momentum/squeeze_pro.py
pandas-ta-development/pandas_ta/momentum/squeeze.py
pandas-ta-development/pandas_ta/momentum/stc.py
pandas-ta-development/pandas_ta/momentum/stoch.py
pandas-ta-development/pandas_ta/momentum/stochf.py
pandas-ta-development/pandas_ta/momentum/stochrsi.py
pandas-ta-development/pandas_ta/momentum/tmo.py
pandas-ta-development/pandas_ta/momentum/trix.py
pandas-ta-development/pandas_ta/momentum/tsi.py
pandas-ta-development/pandas_ta/momentum/uo.py
pandas-ta-development/pandas_ta/momentum/willr.py
pandas-ta-development/pandas_ta/overlap/__init__.py
pandas-ta-development/pandas_ta/overlap/alligator.py
pandas-ta-development/pandas_ta/overlap/alma.py
pandas-ta-development/pandas_ta/overlap/dema.py
pandas-ta-development/pandas_ta/overlap/ema.py
pandas-ta-development/pandas_ta/overlap/fwma.py
pandas-ta-development/pandas_ta/overlap/hilo.py
pandas-ta-development/pandas_ta/overlap/hl2.py
pandas-ta-development/pandas_ta/overlap/hlc3.py
pandas-ta-development/pandas_ta/overlap/hma.py
pandas-ta-development/pandas_ta/overlap/hwma.py
pandas-ta-development/pandas_ta/overlap/ichimoku.py
pandas-ta-development/pandas_ta/overlap/jma.py
pandas-ta-development/pandas_ta/overlap/kama.py
pandas-ta-development/pandas_ta/overlap/linreg.py
pandas-ta-development/pandas_ta/overlap/mama.py
pandas-ta-development/pandas_ta/overlap/mcgd.py
pandas-ta-development/pandas_ta/overlap/midpoint.py
pandas-ta-development/pandas_ta/overlap/midprice.py
pandas-ta-development/pandas_ta/overlap/ohlc4.py
pandas-ta-development/pandas_ta/overlap/pivots.py
pandas-ta-development/pandas_ta/overlap/pwma.py
pandas-ta-development/pandas_ta/overlap/rma.py
pandas-ta-development/pandas_ta/overlap/sinwma.py
pandas-ta-development/pandas_ta/overlap/sma.py
pandas-ta-development/pandas_ta/overlap/smma.py
pandas-ta-development/pandas_ta/overlap/ssf.py
pandas-ta-development/pandas_ta/overlap/ssf3.py
pandas-ta-development/pandas_ta/overlap/supertrend.py
pandas-ta-development/pandas_ta/overlap/swma.py
pandas-ta-development/pandas_ta/overlap/t3.py
pandas-ta-development/pandas_ta/overlap/tema.py
pandas-ta-development/pandas_ta/overlap/trima.py
pandas-ta-development/pandas_ta/overlap/vidya.py
pandas-ta-development/pandas_ta/overlap/wcp.py
pandas-ta-development/pandas_ta/overlap/wma.py
pandas-ta-development/pandas_ta/overlap/zlma.py
pandas-ta-development/pandas_ta/performance/__init__.py
pandas-ta-development/pandas_ta/performance/drawdown.py
pandas-ta-development/pandas_ta/performance/log_return.py
pandas-ta-development/pandas_ta/performance/percent_return.py
pandas-ta-development/pandas_ta/statistics/__init__.py
pandas-ta-development/pandas_ta/statistics/entropy.py
pandas-ta-development/pandas_ta/statistics/kurtosis.py
pandas-ta-development/pandas_ta/statistics/mad.py
pandas-ta-development/pandas_ta/statistics/median.py
pandas-ta-development/pandas_ta/statistics/quantile.py
pandas-ta-development/pandas_ta/statistics/skew.py
pandas-ta-development/pandas_ta/statistics/stdev.py
pandas-ta-development/pandas_ta/statistics/tos_stdevall.py
pandas-ta-development/pandas_ta/statistics/variance.py
pandas-ta-development/pandas_ta/statistics/zscore.py
pandas-ta-development/pandas_ta/transform/__init__.py
pandas-ta-development/pandas_ta/transform/cube.py
pandas-ta-development/pandas_ta/transform/ifisher.py
pandas-ta-development/pandas_ta/transform/remap.py
pandas-ta-development/pandas_ta/trend/__init__.py
pandas-ta-development/pandas_ta/trend/adx.py
pandas-ta-development/pandas_ta/trend/alphatrend.py
pandas-ta-development/pandas_ta/trend/amat.py
pandas-ta-development/pandas_ta/trend/aroon.py
pandas-ta-development/pandas_ta/trend/chop.py
pandas-ta-development/pandas_ta/trend/cksp.py
pandas-ta-development/pandas_ta/trend/decay.py
pandas-ta-development/pandas_ta/trend/decreasing.py
pandas-ta-development/pandas_ta/trend/dpo.py
pandas-ta-development/pandas_ta/trend/ht_trendline.py
pandas-ta-development/pandas_ta/trend/increasing.py
pandas-ta-development/pandas_ta/trend/long_run.py
pandas-ta-development/pandas_ta/trend/psar.py
pandas-ta-development/pandas_ta/trend/qstick.py
pandas-ta-development/pandas_ta/trend/rwi.py
pandas-ta-development/pandas_ta/trend/short_run.py
pandas-ta-development/pandas_ta/trend/trendflex.py
pandas-ta-development/pandas_ta/trend/tsignals.py
pandas-ta-development/pandas_ta/trend/ttm_trend.py
pandas-ta-development/pandas_ta/trend/vhf.py
pandas-ta-development/pandas_ta/trend/vortex.py
pandas-ta-development/pandas_ta/trend/xsignals.py
pandas-ta-development/pandas_ta/trend/zigzag.py
pandas-ta-development/pandas_ta/utils/__init__.py
pandas-ta-development/pandas_ta/utils/_candles.py
pandas-ta-development/pandas_ta/utils/_core.py
pandas-ta-development/pandas_ta/utils/_math.py
pandas-ta-development/pandas_ta/utils/_metrics.py
pandas-ta-development/pandas_ta/utils/_numba.py
pandas-ta-development/pandas_ta/utils/_signals.py
pandas-ta-development/pandas_ta/utils/_stats.py
pandas-ta-development/pandas_ta/utils/_study.py
pandas-ta-development/pandas_ta/utils/_time.py
pandas-ta-development/pandas_ta/utils/_validate.py
pandas-ta-development/pandas_ta/volatility/__init__.py
pandas-ta-development/pandas_ta/volatility/aberration.py
pandas-ta-development/pandas_ta/volatility/accbands.py
pandas-ta-development/pandas_ta/volatility/atr.py
pandas-ta-development/pandas_ta/volatility/atrts.py
pandas-ta-development/pandas_ta/volatility/bbands.py
pandas-ta-development/pandas_ta/volatility/chandelier_exit.py
pandas-ta-development/pandas_ta/volatility/donchian.py
pandas-ta-development/pandas_ta/volatility/hwc.py
pandas-ta-development/pandas_ta/volatility/kc.py
pandas-ta-development/pandas_ta/volatility/massi.py
pandas-ta-development/pandas_ta/volatility/natr.py
pandas-ta-development/pandas_ta/volatility/pdist.py
pandas-ta-development/pandas_ta/volatility/rvi.py
pandas-ta-development/pandas_ta/volatility/thermo.py
pandas-ta-development/pandas_ta/volatility/true_range.py
pandas-ta-development/pandas_ta/volatility/ui.py
pandas-ta-development/pandas_ta/volume/__init__.py
pandas-ta-development/pandas_ta/volume/ad.py
pandas-ta-development/pandas_ta/volume/adosc.py
pandas-ta-development/pandas_ta/volume/aobv.py
pandas-ta-development/pandas_ta/volume/cmf.py
pandas-ta-development/pandas_ta/volume/efi.py
pandas-ta-development/pandas_ta/volume/eom.py
pandas-ta-development/pandas_ta/volume/kvo.py
pandas-ta-development/pandas_ta/volume/mfi.py
pandas-ta-development/pandas_ta/volume/nvi.py
pandas-ta-development/pandas_ta/volume/obv.py
pandas-ta-development/pandas_ta/volume/pvi.py
pandas-ta-development/pandas_ta/volume/pvo.py
pandas-ta-development/pandas_ta/volume/pvol.py
pandas-ta-development/pandas_ta/volume/pvr.py
pandas-ta-development/pandas_ta/volume/pvt.py
pandas-ta-development/pandas_ta/volume/vhm.py
pandas-ta-development/pandas_ta/volume/vp.py
pandas-ta-development/pandas_ta/volume/vwap.py
pandas-ta-development/pandas_ta/volume/vwma.py
pandas-ta-development/pandas_ta/volume/wb_tsv.py
pandas-ta-development/tests/__init__.py
pandas-ta-development/tests/config.py
pandas-ta-development/tests/conftest.py
pandas-ta-development/tests/test_indicator_candle.py
pandas-ta-development/tests/test_indicator_cycles.py
pandas-ta-development/tests/test_indicator_momentum.py
pandas-ta-development/tests/test_indicator_overlap.py
pandas-ta-development/tests/test_indicator_performance.py
pandas-ta-development/tests/test_indicator_statistics.py
pandas-ta-development/tests/test_indicator_transform.py
pandas-ta-development/tests/test_indicator_trend.py
pandas-ta-development/tests/test_indicator_volatility.py
pandas-ta-development/tests/test_indicator_volume.py
pandas-ta-development/tests/test_metrics.py
pandas-ta-development/tests/test_numba.py
pandas-ta-development/tests/test_studies.py
pandas-ta-development/tests/test_utils.py
# Logs
*.log
logs/

# State files (jika json ini cuma buat nyimpen status sementara)
signal_tracker.json

# Python Cache
__pycache__/
*.py[cod]